@import 'material-icons/iconfont/material-icons.scss';

span{
    display:flex;
    align-items: center;
    color: #153462;
    padding-left: 5%;
    font-weight: 600;
}
.api_name {
    text-align: left;
    color: #153462;
    font-family: 'Courier New', Courier, monospace;
}