<div class="home">
    <div>
        <span>
            <input type="text" placeholder="Search Here">
            <button id="login_btn" >
            <i class="material-icons">search</i>
            </button>
        </span>
    </div>
    <div class="form_group">
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Month</th>
                    <th>Cold water</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
