<div class="home">
    <div class="form_group" >
        <div class="rNumber_box">
            <label>Room number:</label>
            <h3>{{roomNumber}}</h3> 
        </div>
        <div class="date_box">
            <label>Upload date:</label>
            <p>{{date}}</p>
        </div>
        <div class="water_box">
            <label>Cold water</label>
            <input type="text" [(ngModel)]="updateColdWater">
        </div>
        <div class="water_box">
            <label>Hot water</label>
            <input type="text"  [(ngModel)]="updateHotWater">
        </div>
    
        <button id="saveUpdate_btn" (click)="saveUpdateClickHandler()">
          <span>
            <p>Save Update</p>
            <i class="material-icons">done</i>
          </span>
        </button>
        <button style="margin-bottom: 5%;" id="saveUpdate_btn" (click)="backClickHandler()">
            <span>
              <p style="margin-left: 15%;">Back</p>
              <i style="margin-left: 5%;" class="material-icons">arrow_back_ios</i>
            </span>
          </button>
    </div>
    <div class="img_box">
        <img [src]="imgURL">
    </div>
</div>
