.userDashboard{
    display: flex;
    margin: 82px auto 32px;
    background-color: #BAD1C2;
    padding: 0 16px;
    max-width: 100%;
    height:80vh;
    flex-direction: column;
    align-items: center;
    position: relative;
}
