<div class="userDashboard">  
    <div class="form_group">
     <div>
      <h2>
        ROOMNUMBER {{roomNumber}}
      </h2>
     </div>
      <button id="upload_btn" (click)="uploadClickHandler()">
        <span>
          <i class="material-icons"> 
            Upload</i>
        </span>
      </button>
      
      <button id="logout_btn" (click)="logoutClickHandler()">
        <span>
          <i class="material-icons">Logout</i>
        </span>
      </button>
    </div>
    
  </div>
  
