$button_width: 20em;
$button_height: 1.5em;


.userDashboard{
    display: flex;
    margin: 82px auto 32px;
    background-color: #BAD1C2;
    padding: 0 16px;
    max-width: 100%;
    height:80vh;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.form_group{
    background-color: #4FA095;
    display: flex;
    height: 50%;
    width: 350px;
    flex-direction: column;
    border-radius: 8px ;
    align-items: center;
    justify-content: center;;
}

#logout_btn { 
    border-radius: 8px;
    background-color: #153462;
    color:#F6F6C9;
    width: $button_width;
    min-height: $button_height;
    border-color:#153462;
    margin-top: 8%;
}
 #upload_btn { 
    border-radius: 8px;
    background-color: #153462;
    color:#F6F6C9;
    width: $button_width;
    min-height: $button_height;
    border-color:#153462;
    margin-top: 8%;
}
  #typeData_btn{
    border-radius: 8px;
    background-color: #153462;
    color:#F6F6C9;
    width: $button_width;
    min-height: $button_height;
    border-color:#153462;
    margin-top: 8%;
}
#logout_btn span {
    display:flex;
    align-items: center;
    block-size: auto;
    margin-left: 40%;
    max-width: $button_width;
    max-height: $button_height;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}

#upload_btn span{
    display:flex;
    align-items: center;
    block-size: auto;
    margin-left: 40%;
    max-width: $button_width;
    max-height: $button_height;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}
#upload_btn :hover {
    background-color: #BAD1C2; 
    color: #153462;
    border-color: #153462;
}
#logout_btn :hover{
    background-color: #BAD1C2; 
    color: #153462;
    border-color: #153462;
}

#typeData_btn span{
    display:flex;
    align-items: center;
    block-size: auto;
    margin-left: 40%;
    max-width: $button_width;
    max-height: $button_height;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}
#typeData_btn :hover {
    background-color: #BAD1C2; 
    color: #153462;
    border-color: #153462;
}


