<div class="userDashboard">  
    <div class="form_group">
     
      <button id="upload_btn" (click)="uploadClickHandler()">
        <span>
          <i class="material-icons"> 
            Upload</i>
        </span>
      </button>
      <button id="typeData_btn" (click)="loadDataClickHandler()">
        <span>
          <i class="material-icons">Type data</i>
        </span>
      </button>
      <button id="logout_btn" (click)="logoutClickHandler()">
        <span>
          <i class="material-icons">Logout</i>
        </span>
      </button>
    </div>
    
  </div>
  
