<div class="typedata">
    <div class="form_group">
        <p>Choose file to upload</p>
            <label>
                <input class="form-control" type="file" (change)="onChange($event)">
            </label>
        <button id="typeDataSubmit_btn" (click)="getRoomDataHandler()">
            <span>
                <i class="material-icons">
                    <p>Submit</p>
                </i>
            </span>
        </button>
         <button id="typeDataSubmit_btn" (click)="getRoomDataHandler()">
                <span>
                    <i class="material-icons">
                        <p>Get room data</p>
                    </i>
            </span>
        </button> 
      
    </div>
    <div>
        <table mat-table class="roomData_table">
            <thead>
                <tr>
                    <th >Room number</th>
                    <th >Key</th>
                    <th >Cold water</th>
                    <th >Hot water</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <tr *ngFor="let room of roomData;">
                    <td >{{room.roomNumber}}</td>
                    <td >-</td>
                    <td >{{room.coldWater}}</td>
                    <td >{{room.hotWater}}</td>    
                </tr>
        </table>
    </div>
    
</div>