div{
    background-color: #BAD1C2;
}

.header_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #4FA095;
}    
.container {
    width: auto;
    height: auto;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: #BAD1C2;
}
.footer_container{
    position: absolute;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #153462;
}