@import 'material-icons/iconfont/material-icons.scss';

.home{
    display: flex;
    margin: 80px auto 0;
    background-color: #BAD1C2;
    padding: 0 16px;
    max-width: 100%;
    height:80vh;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.changePassword_div{ 
    grid-area: right;
    margin-left: 2em;
    margin-bottom: 5em;
}

.grid-container{
    width:50em ;
    height: 6em;
    grid-template-areas:'right';
    display:flex;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.search_box span{
    display:flex;
    align-items: center;
    width: 50em;
    height: 6em;
    background-color: #4FA095;
    border-radius: 8px;
}

.search_box input{
    height: 2em;
    width: 50em;
    margin-left: 5em;
    background-color:#F6F6C9;
    border-color: #F6F6C9;
}
.search_box input:focus{
    outline:none;
    color:#153462;
    border: 2px solid #153462;
}
#search_btn{
    margin-bottom: 5em;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #153462;
    color:#F6F6C9;
    width: 2.5em;
    min-height: 2.4em;
    border-color:#153462;
    margin-top: 8%;
}
#search_btn:hover {
    background-color: #BAD1C2; 
    color: #153462;
    border-color: #153462;
}

#changePassword_btn{
    border-radius: 8px;
    background-color: #153462;
    color:#F6F6C9;
    width: 20em;
    min-height: 1.5em;
    border-color:#153462;
    margin-top: 8%;
}
#changePassword_btn span{
    display:flex;
    align-items: center;
    block-size: auto;
    margin-left: 40%;
    max-width: 20em;
    max-height: 1.5em;
    font-size: medium;
}
#changePassword_btn:hover {
    background-color: #BAD1C2; 
    color: #153462;
    border-color: #153462;
}

.table_box{
    background-color: #4FA095;
    display: flex;
    height: 400px;
    width: 800px;
    flex-direction: column;
    grid-template-areas:'right';
    border-radius: 8px ;
    align-items: center;
}
.style_table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 750px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.style_table thead tr {
    background-color: #153462;
    color: #F6F6C9;
    text-align: left;
}
.style_table th,
.style_table td {
    padding: 8px 2px;
}
.style_table tbody tr:nth-of-type(even) {
    background-color: #BAD1C2;
}

.style_table tbody tr:last-of-type {
    border-bottom: 2px solid #BAD1C2;
}
.td_color:not(.expanded):hover{
    color: #F6F6C9;
}
