<div class="home">
    <div class="search_box">
        <span>
            <input type="text" placeholder="Search Here">
            <button id="search_btn" >
                <i class="material-icons">search</i>
            </button>
        </span>
    </div>
    <div class="table_box">
        <table>
            <thead>
                <tr>
                    <th>Room number</th>
                    <th>Date</th>
                    <th>Cold water</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
