<div class="home">
    <div class="search_box">
        <span>
            <input type="text" placeholder="Search Here">
            <button id="search_btn" >
                <i class="material-icons">search</i>
            </button>
        </span>
    </div>
    <div class="changePassword_div">
        <button id="changePassword_btn" (click)="openDialog()" >
            <span>
              <p>Change password</p>
              <i class="material-icons">login</i>
            </span>
        </button>
    </div>
    <div class="table_box">
        <table>
            <thead>
                <tr>
                    <th>Room number</th>
                    <th>Date</th>
                    <th>Cold water</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <!--<tr *ngFor="let person of people;"> -->
                    <td>roomNumber</td>
                    <td>date</td>
                    <td>coldWaterMeterPos</td>    
                </tr>
            </tbody>
        </table>
    </div>
</div>
