<div class="home">
    <div class="grid-container">
        <div class="search_box">
            <span>
                <input type="text"  placeholder="Search Here" [(ngModel)]="filterValue">
                <button id="search_btn" (click)="searchClickHandler()" >
                    <i class="material-icons">search</i>
                </button>
            </span>
        </div>
        <div class="changePassword_div">
            <button id="changePassword_btn" (click)="changePasswordClickHandler()" >
                <span>
                    <p>Change password</p>
                    <i class="material-icons">
                        change_circle
                    </i>
                </span>
            </button>
        </div>
    </div>
    <div class="table_box">
        <button (click)="getTextPythonClickHandler()">Python</button>
        <p>{{searchMessage}}</p>
        <table  class="style_table">
            <thead>
                <tr>
                    <th>Room number</th>
                    <th>Date</th>
                    <th>Cold water</th>
                    <th>Hot water</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <tr *ngFor="let room of searchResult;">
                    <td class="td_color" (click)="selectRoomClickHandler(room.roomNumber)">{{room.roomNumber}}</td>
                    <td>-</td>
                    <td>{{room.coldWater}}</td>
                    <td>{{room.hotWater}}</td>
                    <td class="td_color" (click)="imageClickHandler(room)">image</td>  
                </tr>
            </tbody>
        </table>
    </div>
</div>
