/* You can add global styles to this file, and also import other style files */
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}
h2{
    text-align: center;
    color: #153462;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10vh;
}


  