@import 'material-icons/iconfont/material-icons.scss';

$button_width: 20em;
$button_height: 1.5em;

.home{
    display: flex;
    margin: 82px auto 32px;
    background-color: #BAD1C2;
    padding: 0 16px;
    max-width: 100%;
    height:80vh;
    flex-direction: column;
    align-items: center;
    position: relative;
}
h2{
    text-align: center;
    color: #153462;
    font-size: 10vh;
}
#login_btn{
    border-radius: 8px;
    background-color: #153462;
    color:#F6F6C9;
    width: $button_width;
    min-height: $button_height;
    border-color:#153462;
    margin-top: 5%;
    margin-bottom: 5%;
}
#login_btn span{
    display:flex;
    align-items: center;
    block-size: auto;
    margin-left: 40%;
    max-width: $button_width;
    max-height: $button_height;
    font-size: medium;
}
#login_btn:hover {
    background-color: #4FA095; 
    color: #153462;
    border-color: #153462;
}
#change_password_btn{
    border-radius: 8px;
    background-color: #153462;
    color:#F6F6C9;
    width: $button_width;
    min-height: $button_height;
    border-color:#153462;
    margin-bottom: 5%;
}
#change_password_btn span{
    display:flex;
    align-items: center;
    block-size: auto;
    margin-left: 27%;
    max-width: $button_width;
    max-height: $button_height;
    font-size: medium;
}
#change_password_btn:hover {
    background-color: #4FA095; 
    color: #153462;
    border-color: #153462;
}
